// *:hover{ 
//    outline:1px blue solid;
// } 

h1 {
    font-size: 72px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

body {
    font-family: "Helvetica",arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    font-family: "proxima-nova";
    text-transform: none;
    letter-spacing: .02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#canvasWrapper {
    max-width: 1233px;
}

#canvas {
    padding: 50px;
}

#headerWrapper {
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#fullNameHeader {
    font-size: 72px;
}

#contactsWrapper {
}

#contactHeader {
    font-size: 24px;
}

#contacts {
    float: right;
}

#contactsItem {
    display: block;
}

#pageWrapper
{
}

#page
{

}

#content-block
{
    margin-bottom: 12px;
}

.indent {
    margin-left: 12px;
}

#grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    margin-top: 4px;
}

h2 {
    margin-bottom: 6px;
}

h3 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.date {
    float: right;
}

.city {
    float: right;
}

#job-title {
    display: inline;
}

#skills-wrapper {
    max-width: 500px;
}